
/Database
Backend/system_control/__pycache__/models.cpython-312.pyc
Backend/auth_user/__pycache__/views.cpython-312.pyc
Backend/system/__pycache__/admin.cpython-312.pyc
Backend/system/__pycache__/models.cpython-312.pyc
Backend/system/migrations/__pycache__/0015_lernzeitprofile.cpython-312.pyc
Backend/system/migrations/__pycache__/0016_rename_person_lernzeitprofile_teacher_school_id.cpython-312.pyc
Backend/system/__pycache__/models.cpython-312.pyc
*.pyc
*.pyc
/Backend/main/__pycache__
