mzb-lev.de {
	tls {
		dns cloudflare {
			api_token "B42raYn3HVJyspB9c_C4M6Nt_367h-uhQApYfD8E"
		}
	}
    root * ../Html
	file_server
}

localhost:8080, 192.168.178.33:8080, 192.168.178.105:8080 {
	root * ../Html
	file_server
}


